@model IEnumerable<parser.Models.RubricCriteria>

@{
    int elementNum = 0;
    if (Model.ToList().Count > 0)
        elementNum = Model.ToList()[0].RubricCriteriaElements.Count;
    
    ViewData["Title"] = "RubricContent";

}

<h1>RubricContent</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rubric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriteriaText)
            </th>
            @for (var i = elementNum; i >= 1; i--)
            {
                <th>@i</th>
            }

        </tr>
    </thead>
    <tbody>
@foreach (var criterion in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => criterion.RubricId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => criterion.CriteriaText)
            </td>
            @foreach (var element in criterion.RubricCriteriaElements)
            {
                <td>
                    @element.CriteriaText
                </td>
            }
            
        </tr>
}
    </tbody>
</table>
